.profile__container {
  margin-top: 75px;
  display: flex;
}

.profile__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile__header__info {
  display: flex;
}
