.post {
  max-width: 550px;
  width: 95vw;

  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 16px 0px;
}

.post__user {
  max-width: 550px;
  width: 95vw;
  min-height: 55px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.post__user__picture {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid black;
}

.post__user__picture__default {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid black;
}

.post__username {
  margin-left: 8px;
}

.post__image {
  width: 100%;
  height: 600px;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.post__content {
}

.post__likes__comments {
  font-size: 21px;
  padding: 14px 0px 0px 16px;
}

.post__unliked:hover {
  cursor: pointer;
}

.post__unliked:hover {
  cursor: pointer;
  color: grey;
}

.post__description {
  margin: 8px 0px 8px 16px;
}

.post__content__username {
  color: black;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
}

.post__content__username:hover {
  cursor: pointer;
  text-decoration: underline;
}
